<launch>

  <!-- Pass in mocap_config_file:=/path/to/config.yaml to change options. -->
  <arg name="mocap_config_file" default="$(find mocap_optitrack)/config/exp.yaml" />

  <node pkg="mocap_optitrack"
	type="mocap_node"
	name="mocap_node"
	required="true">
  <rosparam file="$(arg mocap_config_file)" command="load" />
  </node>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find mocap_optitrack)/config/experiment.rviz" />

  <node pkg="rosbag" type="record" name="recorder" output="screen" args="-o /home/kostas/experiments/dsv/ /scan /ego_pose /red_pose /wheel_speeds /tf /rc_inputs /imu/data" />

  <!--<node pkg="tf2_ros" type="static_transform_publisher" name="link_imu" args="0 0 0 0 0 0 /ego_pose /imu_link" />-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="link_laser" args="0 0 0 -1.56 0 0 /ego_pose /laser" />
  <!--<node pkg="tf2_ros" type="static_transform_publisher" name="link_laser" args="0 0 0 -1.56 0 0 /base_link /laser" />-->
  <!--<node pkg="tf2_ros" type="static_transform_publisher" name="link_laser" args="-0.385 0 0 0 0 0 /ego_pose /laser" />-->
  
  <!--<include file="$(find localization)/launch/mocap_localization.launch"/>-->

  <!--<node pkg="datmo" type="datmo" name="datmo" >-->
     <!--<param name="write_execution_times" value="false" />-->
     <!--<param name="lidar_frame" value="laser" />-->
     <!--<param name="world_frame" value="map" />-->
     <!--<param name="threshold_distance" value="0.2" />-->
     <!--<param name="euclidean_distance" value="0.25" />-->
     <!--<param name="pub_markers" value="true" />-->
  <!--</node>-->

</launch>
